<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <div class="custom-setion-kontakt">
    <div class="custom-1column-kontakt">
      <f:cObject
        typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '101', slide: '{theme.pagelayout.{pagelayout}.colPos.101.slide}'}"
      />
    </div>
    <div class="custom-3columns-kontakt">
      <f:cObject
        typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '102', slide: '{theme.pagelayout.{pagelayout}.colPos.102.slide}'}"
      />
      <f:cObject
        typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '103', slide: '{theme.pagelayout.{pagelayout}.colPos.103.slide}'}"
      />
      <f:cObject
        typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '104', slide: '{theme.pagelayout.{pagelayout}.colPos.104.slide}'}"
      />
    </div>
    <div class="custom-1column-kontakt">
      <f:cObject
        typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '105', slide: '{theme.pagelayout.{pagelayout}.colPos.105.slide}'}"
      />
    </div>
    <div class="custom-3columns-kontakt">
      <f:cObject
        typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '106', slide: '{theme.pagelayout.{pagelayout}.colPos.106.slide}'}"
      />
      <f:cObject
        typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '107', slide: '{theme.pagelayout.{pagelayout}.colPos.107.slide}'}"
      />
      <f:cObject
        typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '108', slide: '{theme.pagelayout.{pagelayout}.colPos.108.slide}'}"
      />
    </div>
    <div class="custom-1column-kontakt">
      <f:cObject
        typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '109', slide: '{theme.pagelayout.{pagelayout}.colPos.109.slide}'}"
      />
    </div>
    <div class="custom-3columns-kontakt">
      <f:cObject
        typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '110', slide: '{theme.pagelayout.{pagelayout}.colPos.110.slide}'}"
      />
      <f:cObject
        typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '111', slide: '{theme.pagelayout.{pagelayout}.colPos.111.slide}'}"
      />
      <f:cObject
        typoscriptObjectPath="lib.dynamicContent"
        data="{pageUid: '{data.uid}', colPos: '112', slide: '{theme.pagelayout.{pagelayout}.colPos.112.slide}'}"
      />
    </div>
  </div>
</html>
