/*Template: 3Columns.html*/
/*all css setup apply also from ueberuns_main.css */
/*for subpages from parent-page 'Angebote' crucial class-name is '.custom-parent-angebote'*/
/*always make all changes with the specific ID from this subpage*/

/*****************************************/
/*1-Hero Section*/
/**1-second row */
.custom-parent-angebote
  .custom-3columns-hero-section
  .section-row
  > div:nth-child(2) {
  /*background-image: url(../../../fileadmin/user_upload/images/Tagesgruppen/header-tagesgruppen-wave.png);*/
  background-repeat: no-repeat;
  min-height: auto;
  background-size: 100% 100%;
}
.custom-parent-angebote
  .custom-3columns-hero-section
  .section-row
  > div:nth-child(2)
  > div:nth-child(2).frame,
.custom-parent-angebote
  .custom-3columns-hero-section
  .section-row
  > div:nth-child(2)
  > div:nth-child(3).frame {
  display: none !important;
}
.custom-parent-angebote
  .custom-3columns-hero-section
  .section-row
  > div:nth-child(2)
  > div.frame
  > div
  > div
  > div
  > div
  > h4 {
  line-height: 35px;
  padding-right: 28%;
}
.custom-parent-angebote
  .custom-3columns-hero-section
  .section-row
  > div:nth-child(2)::before {
  background-image: none;
  min-height: auto;
}
.custom-parent-angebote
  .custom-3columns-hero-section
  .section-row
  > div:nth-child(2)
  > div.frame {
  padding-top: 7vw;
  padding-bottom: 7vw;
}
@media (max-width: 991px) {
  .custom-parent-angebote
    .custom-3columns-hero-section
    .section-row
    > div:nth-child(2)
    > div.frame
    > div
    > div
    > div
    > div
    > h4 {
    padding-right: 12vw;
  }
}
@media (max-width: 767px) {
  .custom-parent-angebote
    .custom-3columns-hero-section
    .section-row
    > div:nth-child(2)
    > div.frame
    > div
    > div
    > div
    > div
    > h4 {
    padding-right: 7vw;
    line-height: 30px;
  }
  .custom-parent-angebote
    .custom-3columns-hero-section
    .section-row
    > div:nth-child(2)
    > div.frame {
    padding-top: 10vw;
    padding-bottom: 10vw;
  }
}
@media (max-width: 450px) {
  .custom-parent-angebote
    .custom-3columns-hero-section
    .section-row
    > div:nth-child(2)
    > div.frame {
    padding-top: 20vw;
    padding-bottom: 20vw;
  }
}

/*****************************************/
/*2-HauptS-middle column with main content */
.custom-parent-angebote .custom-3columns-haupt-section {
  padding-left: 7vw !important;
}
.custom-parent-angebote
  .custom-3columns-haupt-section
  .section-row
  > div:nth-child(1)
  .textpic-item.textpic-gallery {
  display: flex;
  align-items: start;
  justify-content: center;
  order: 1 !important;
}
.custom-parent-angebote .custom-3columns-haupt-section .textpic {
  flex-direction: column;
}
.custom-parent-angebote
  .custom-3columns-haupt-section
  .section-row
  > div
  .textpic-item {
  width: 85vw !important;
}
@media (min-width: 768px) {
  .custom-parent-angebote
    .custom-3columns-haupt-section
    .section-row
    > div
    .textpic-item {
    width: calc(50vw - (40px / 2)) !important;
  }
}
@media (min-width: 1350px) {
  .custom-parent-angebote .custom-3columns-haupt-section .textpic {
    flex-direction: row;
  }
  .custom-parent-angebote
    .custom-3columns-haupt-section
    .section-row
    > div:nth-child(1)
    .textpic-item.textpic-gallery {
    order: 1 !important;
    width: 19% !important;
  }
}
/***2-Accordion*/
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  > div
  > div
  > div.section-column.maincontent-wrap
  > div.frame-type-accordion
  div.accordion-item {
  border: none;
}

.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  > div
  > div
  > div.section-column.maincontent-wrap
  > div.frame-type-accordion {
  width: 85vw !important;
  margin-bottom: 0 !important;
}

.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  > div
  > div
  > div.section-column.maincontent-wrap
  > div.frame-type-accordion
  button.accordion-button.collapsed::after {
  background-image: url(../../user_upload/images/Angebote/Tagesgruppen/accordion-closed.svg);
  background-size: contain;
  height: 40px;
  width: 40px;
  position: absolute;
  margin-left: -14%;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  > div
  > div
  > div.section-column.maincontent-wrap
  > div.frame-type-accordion
  button.accordion-button[aria-expanded="true"]::after {
  background-image: url(../../user_upload/images/Angebote/Tagesgruppen/accordion-open.svg);
  background-size: contain;
  height: 40px;
  width: 40px;
  position: absolute;
  margin-left: -14%;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  > div
  > div
  > div.section-column.maincontent-wrap
  > div.frame-type-accordion
  button.accordion-button {
  padding-left: 14% !important;
  border: none !important;
  outline: none;
  background: none;
  box-shadow: none !important;
  font-weight: 600;
  color: var(--bs-primary);
  font-size: 22px;
  font-family: "Catamaran";
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  > div
  > div
  > div.section-column.maincontent-wrap
  > div.frame-type-accordion
  button.accordion-button:focus,
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  > div
  > div
  > div.section-column.maincontent-wrap
  > div.frame-type-accordion
  button.accordion-button
  + div.accordion-collapse {
  border: none !important;
  outline: none;
  background: none;
  box-shadow: none !important;
}
.custom-new-undertitle-accordion-image {
  font-size: 18px;
  font-weight: 400;
  font-family: "Catamaran";
  color: var(--bs-primary);
  padding-top: 7px;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  > div
  > div
  > div.section-column.maincontent-wrap
  > div.frame-type-accordion
  div.accordion-collapse
  > div
  > div
  > div:nth-child(3) {
  order: 3 !important;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  > div
  > div
  > div.section-column.maincontent-wrap
  > div.frame-type-accordion
  div.accordion-collapse
  .accordion-body {
  padding: 0 !important;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  > div
  > div
  > div.section-column.maincontent-wrap
  > div.frame-type-accordion
  div.accordion-collapse {
  margin-top: 55px !important;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  div.frame-type-accordion
  div.accordion-content-item.accordion-content-media
  div.gallery-row
  .gallery-item {
  --gallery-columns: 1;
  padding-bottom: 45px;
}
/*2-Liste in RTE CKeditor*/
#page-content
  > div.section.section-default.custom-3columns-haupt-section
  div.frame-type-accordion
  ul
  > li::marker {
  font-size: 25px !important;
  color: var(--bs-primary) !important;
}

@media (min-width: 768px) {
  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    > div
    > div
    > div.section-column.maincontent-wrap
    > div.frame-type-accordion {
    width: calc(50vw - (40px / 2)) !important;
    margin-left: 0% !important;
    padding-top: 65px !important;
  }

  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    div.frame-type-accordion
    div.accordion-content-item.accordion-content-media
    div.gallery-row {
    flex-direction: row !important;
  }
  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    div.frame-type-accordion
    div.accordion-content-item.accordion-content-media
    div.gallery-row
    .gallery-item {
    --gallery-columns: 2;
  }
}

@media (min-width: 1350px) {
  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    > div
    > div
    > div.section-column.maincontent-wrap
    > div.frame-type-accordion {
    margin-left: 22% !important;
  }
  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    > div
    > div
    > div.section-column.maincontent-wrap
    > div.frame-type-accordion
    button.accordion-button.collapsed::after {
    margin-left: -7%;
  }
  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    > div
    > div
    > div.section-column.maincontent-wrap
    > div.frame-type-accordion
    button.accordion-button[aria-expanded="true"]::after {
    margin-left: -7%;
  }
  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    > div
    > div
    > div.section-column.maincontent-wrap
    > div.frame-type-accordion
    button.accordion-button {
    padding-left: 7% !important;
  }
}
/***2-Bild+Text+Icon, Ansprechpartner*/
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  div.frame-type-icon_group
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(1)
  > div.icongroup-item-icon {
  width: 400px;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  div.frame-type-icon_group
  > div
  > div
  > div
  > div
  > div
  > div
  > div.icongroup-item-text
  h2 {
  display: none !important;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  div.frame-type-icon_group
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(2)
  > div.icongroup-item-icon {
  order: 2;
  margin-bottom: 10px;
  margin-left: -3vw;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  div.frame-type-icon_group
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(2)
  > div.icongroup-item-icon
  svg {
  height: 16px !important;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  div.frame-type-icon_group
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(2)
  > div.icongroup-item-text {
  width: 12vw !important;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  div.frame-type-icon_group
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(2)
  > div.icongroup-item-text
  a {
  text-decoration: none !important;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  div.frame-type-icon_group
  > div
  > div
  > div
  > div
  > div {
  align-items: center;
}
.custom-parent-angebote
  #page-content
  > div.section.section-default.custom-3columns-haupt-section
  div.frame-type-icon_group
  > div
  > div
  > div
  > div
  > div
  > div:nth-child(2) {
  align-items: end;
}
@media (max-width: 1770px) {
  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    div.frame-type-icon_group
    > div
    > div
    > div
    > div
    > div
    > div:nth-child(2)
    > div.icongroup-item-text {
    width: 15vw !important;
  }
}
@media (max-width: 1349px) {
  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    div.frame-type-icon_group
    > div
    > div
    > div
    > div
    > div {
    flex-direction: column !important;
  }
  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    div.frame-type-icon_group
    > div
    > div
    > div
    > div
    > div
    > div:nth-child(2)
    > div.icongroup-item-text {
    width: 30vw !important;
  }
}
@media (max-width: 1349px) {
  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    div.frame-type-icon_group
    > div
    > div
    > div
    > div
    > div
    > div:nth-child(2)
    > div.icongroup-item-text {
    width: 50vw !important;
  }
  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    div.frame-type-icon_group {
    padding-bottom: 150px;
  }
}
@media (max-width: 500px) {
  .custom-parent-angebote
    #page-content
    > div.section.section-default.custom-3columns-haupt-section
    div.frame-type-icon_group
    > div
    > div
    > div
    > div
    > div
    > div:nth-child(1)
    > div.icongroup-item-icon {
    width: 80vw !important;
  }
}
/*2-HauptS-right column with sticky menu */
@media (max-width: 950px) {
  .custom-parent-angebote
    .custom-3columns-haupt-section
    .section-row
    > div:nth-child(3)
    .custom-menu-sidebar {
    top: 10vh !important;
  }
}
@media (max-width: 767px) {
  .custom-parent-angebote
    .custom-3columns-haupt-section
    .section-row
    > div:nth-child(3) {
    display: flex !important;
    position: relative !important;
    order: 1 !important;
    margin-left: -10%;
    width: 120% !important;
    background: var(--bs-default);
    min-height: unset !important;
  }
  .custom-parent-angebote
    .custom-3columns-haupt-section
    .section-row
    > div:nth-child(1) {
    order: 2 !important;
  }
  .custom-parent-angebote .custom-3columns-haupt-section .section-row {
    flex-direction: column !important;
  }
  .custom-parent-angebote
    .custom-3columns-haupt-section
    .section-row
    > div:nth-child(3)::before {
    background-image: unset !important;
  }
  .custom-parent-angebote
    .custom-3columns-haupt-section
    .section-row
    > div:nth-child(3)
    .custom-menu-sidebar {
    position: static !important;
    min-width: auto !important;
    width: inherit !important;
    padding: 8vh 1vw 5vh 16vw !important;
  }
}
/*******************************************************/
/*3-section Arbeiten*/
.custom-parent-angebote #page-content .custom-arbeiten-section {
  display: none !important;
}

/*******************************************************/
/*4-section Kontakt*/
.custom-parent-angebote .custom-setion-kontakt {
  position: relative;
  z-index: 2;
  background-image: url(../../../fileadmin/user_upload/images/Angebote/Tagesgruppen/kontakt_sektion_tagesgruppen5.svg);
  background-repeat: no-repeat;
  min-height: auto;
  background-size: 100% 100%;
  padding-top: 10vw !important;
  padding-bottom: 15vw !important;
  padding-left: 7vw;
  padding-right: 37vw;
  margin-bottom: -50px;
}
.custom-parent-angebote .custom-setion-kontakt a {
  text-decoration: none !important;
}
.custom-parent-angebote
  .custom-setion-kontakt
  .custom-1column-kontakt
  .frame-container.frame-container-default {
  margin-bottom: 45px;
}
.custom-parent-angebote
  .custom-setion-kontakt
  .custom-1column-kontakt
  .frame-container.frame-container-default,
.custom-parent-angebote
  .custom-setion-kontakt
  .custom-3columns-kontakt
  .frame-container.frame-container-default {
  max-width: none !important;
  padding: 0 !important;
}
.custom-parent-angebote
  .custom-setion-kontakt
  .texticon-icon
  .texticon-inner-icon
  svg {
  height: 24px;
}
.custom-parent-angebote .custom-setion-kontakt .custom-1column-kontakt hr {
  opacity: 1 !important;
  color: white !important;
}
.custom-parent-angebote .custom-setion-kontakt .custom-3columns-kontakt {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}
.custom-parent-angebote .custom-setion-kontakt .custom-3columns-kontakt > div. {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.custom-parent-angebote .custom-setion-kontakt .frame-type-texticon,
.custom-parent-angebote .custom-setion-kontakt .frame-type-text {
  padding: 0 !important;
  margin: 0 !important;
  align-items: center;
  justify-content: start;
  display: flex;
  min-height: 45px;
  width: max-content;
}
.custom-parent-angebote .custom-setion-kontakt .custom-kontakt-adresse,
.custom-parent-angebote
  .custom-setion-kontakt
  .custom-kontakt-kommunikationsauswahl {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 45px;
}
@media (max-width: 1149px) {
  .custom-parent-angebote .custom-setion-kontakt {
    padding-right: 7vw !important;
    padding-top: 30vw !important;
    padding-bottom: 25vw !important;
    background-size: auto 100%;
    z-index: 8 !important;
    margin-top: -100px !important;
  }
  .custom-parent-angebote .custom-setion-kontakt .frame-type-texticon,
  .custom-parent-angebote .custom-setion-kontakt .frame-type-text {
    width: auto !important;
    word-break: break-all !important;
  }
  .custom-parent-angebote .custom-setion-kontakt .custom-3columns-kontakt {
    grid-template: auto / 1fr;
  }
}
