/* catamaran-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/catamaran-v19-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/catamaran-v19-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* catamaran-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/catamaran-v19-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/catamaran-v19-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* catamaran-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/catamaran-v19-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/catamaran-v19-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* catamaran-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/catamaran-v19-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/catamaran-v19-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* catamaran-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/catamaran-v19-latin-800.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/catamaran-v19-latin-800.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/**************************************************/
/*FONTS*/
h1,
.h1-custom,
h2.h1 {
  font-family: "gelica", sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: var(--bs-primary);
}
h2,
.h2-custom {
  font-family: "gelica", sans-serif;
  font-size: 45px;
  font-weight: 400;
  color: var(--bs-primary);
}
h3,
.h3-custom {
  font-family: "gelica", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: var(--bs-primary);
}
h4,
.h4-custom {
  font-family: "catamaran", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: var(--bs-primary);
}
h5,
.h5-custom {
  font-family: "catamaran", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: var(--bs-primary);
}
.gelica-50-regular {
  font-family: "gelica", sans-serif;
  font-size: 50px;
  font-weight: 400;
}
.gelica-40-regular {
  font-family: "gelica", sans-serif;
  font-size: 40px;
  font-weight: 400;
}
.catamaran-24-bold {
  font-family: "catamaran", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.catamaran-25-semibold {
  font-family: "catamaran", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.catamaran-22-medium {
  font-family: "catamaran", sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.catamaran-26-medium {
  /*dropdown menu*/
  font-family: "catamaran", sans-serif;
  font-size: 26px;
  font-weight: 500;
}

@media (max-width: 1440px) {
  h1,
  .h1-custom,
  h2.h1 {
    font-size: 45px;
  }
  h2,
  .h2-custom {
    font-size: 41px;
  }
  h3,
  .h3-custom {
    font-size: 27px;
  }
  h4,
  .h4-custom {
    font-size: 23px;
  }
  h5,
  .h5-custom {
    font-size: 21px;
  }
  .gelica-50-regular {
    font-size: 45px;
  }
  .gelica-40-regular {
    font-size: 41px;
  }
  .catamaran-24-bold {
    font-size: 22px;
  }
  .catamaran-25-semibold {
    font-size: 22px;
  }
  .catamaran-22-medium {
    font-size: 21px;
  }
  .catamaran-26-medium {
    font-size: 24px;
  }
}
@media (max-width: 1240px) {
  h1,
  .h1-custom,
  h2.h1 {
    font-size: 41px;
  }
  h2,
  .h2-custom {
    font-size: 37px;
  }
  h3,
  .h3-custom {
    font-size: 24px;
  }
  h4,
  .h4-custom {
    font-size: 20px;
  }
  h5,
  .h5-custom {
    font-size: 19px;
  }
  .gelica-50-regular {
    font-size: 40px;
  }
  .gelica-40-regular {
    font-size: 37px;
    line-height: 45px !important;
  }
  .catamaran-24-bold {
    font-size: 18px;
  }
  .catamaran-25-semibold {
    font-size: 20px;
  }
  .catamaran-22-medium {
    font-size: 19px;
  }
  .catamaran-26-medium {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  h1,
  .h1-custom,
  h2.h1 {
    font-size: 35px;
  }
  .gelica-40-regular {
    font-size: 35px;
    line-height: 43px !important;
  }
}
@media (max-width: 767px) {
  h1,
  .h1-custom,
  h2.h1 {
    font-size: 30px !important;
  }
  h2,
  .h2-custom {
    font-size: 26px;
    line-height: 32px !important;
  }
  .gelica-40-regular {
    font-size: 32px;
    line-height: 41px !important;
  }
}
/*Colors*/
.custom-blue {
  color: var(--bs-primary) !important;
}
.custom-orange {
  color: var(--bs-secondary) !important;
}
.custom-white {
  color: var(--bs-tertiary) !important;
}
.custom-violet {
  color: var(--bs-quaternary) !important;
}
.custom-lightblue {
  color: var(--bs-success) !important;
}
.custom-azure {
  color: var(--bs-info) !important;
}
.custom-sand-color {
  color: var(--bs-default) !important;
}
/**************************************************/
body {
  background-color: rgb(244, 145, 145);
  font-family: "catamaran", sans-serif;
}
.container {
  max-width: 1920px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
a:hover {
  color: var(--bs-primary) !important;
}
.frame a:not([class]) {
  color: var(--bs-primary) !important;
}
@media screen and (max-width: 767px) {
  .container .frame-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
/*.section{
   overflow: visible !important;
}*/
