/* catamaran-regular - latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: "Catamaran";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/catamaran-v19-latin-regular.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/catamaran-v19-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* catamaran-500 - latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: "Catamaran";
   font-style: normal;
   font-weight: 500;
   src: url("../fonts/catamaran-v19-latin-500.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/catamaran-v19-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* catamaran-600 - latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: "Catamaran";
   font-style: normal;
   font-weight: 600;
   src: url("../fonts/catamaran-v19-latin-600.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/catamaran-v19-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* catamaran-700 - latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: "Catamaran";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/catamaran-v19-latin-700.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/catamaran-v19-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* catamaran-800 - latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: "Catamaran";
   font-style: normal;
   font-weight: 800;
   src: url("../fonts/catamaran-v19-latin-800.woff2") format("woff2"),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("../fonts/catamaran-v19-latin-800.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/**************************************************/
/*FONTS*/
h1 {
   font-family: "gelica", sans-serif;
   font-size: 50px;
   font-weight: 400;
}
h2 {
   font-family: "gelica", sans-serif;
   font-size: 45px;
   font-weight: 400;
}
h3 {
   font-family: "gelica", sans-serif;
   font-size: 30px;
   font-weight: 400;
}
h4 {
   font-family: "catamaran", sans-serif;
   font-size: 25px;
   font-weight: 400;
}
h5 {
   font-family: "catamaran", sans-serif;
   font-size: 22px;
   font-weight: 400;
}
.gelica-50-regular {
   font-family: "gelica", sans-serif;
   font-size: 50px;
   font-weight: 400;
}
.gelica-40-regular {
   font-family: "gelica", sans-serif;
   font-size: 40px;
   font-weight: 400;
}
.catamaran-24-bold {
   font-family: "catamaran", sans-serif;
   font-size: 24px;
   font-weight: 700;
}
.catamaran-25-semibold {
   font-family: "catamaran", sans-serif;
   font-size: 25px;
   font-weight: 600;
}
.catamaran-22-medium {
   font-family: "catamaran", sans-serif;
   font-size: 22px;
   font-weight: 500;
}
.catamaran-26-medium {
   /*dropdown menu*/
   font-family: "catamaran", sans-serif;
   font-size: 26px;
   font-weight: 500;
}

@media (max-width: 1440px) {
   h1 {
      font-family: "gelica", sans-serif;
      font-size: 45px;
      font-weight: 400;
   }
   h2 {
      font-family: "gelica", sans-serif;
      font-size: 41px;
      font-weight: 400;
   }
   h3 {
      font-family: "gelica", sans-serif;
      font-size: 27px;
      font-weight: 400;
   }
   h4 {
      font-family: "catamaran", sans-serif;
      font-size: 23px;
      font-weight: 400;
   }
   h5 {
      font-family: "catamaran", sans-serif;
      font-size: 21px;
      font-weight: 400;
   }
   .gelica-50-regular {
      font-family: "gelica", sans-serif;
      font-size: 45px;
      font-weight: 400;
   }
   .gelica-40-regular {
      font-family: "gelica", sans-serif;
      font-size: 41px;
      font-weight: 400;
   }
   .catamaran-24-bold {
      font-family: "catamaran", sans-serif;
      font-size: 22px;
      font-weight: 700;
   }
   .catamaran-25-semibold {
      font-family: "catamaran", sans-serif;
      font-size: 22px;
      font-weight: 600;
   }
   .catamaran-22-medium {
      font-family: "catamaran", sans-serif;
      font-size: 21px;
      font-weight: 500;
   }
   .catamaran-26-medium {
      font-family: "catamaran", sans-serif;
      font-size: 24px;
      font-weight: 500;
   }
}
@media (max-width: 1240px) {
   h1 {
      font-family: "gelica", sans-serif;
      font-size: 41px;
      font-weight: 400;
   }
   h2 {
      font-family: "gelica", sans-serif;
      font-size: 37px;
      font-weight: 400;
   }
   h3 {
      font-family: "gelica", sans-serif;
      font-size: 24px;
      font-weight: 400;
   }
   h4 {
      font-family: "catamaran", sans-serif;
      font-size: 20px;
      font-weight: 400;
   }
   h5 {
      font-family: "catamaran", sans-serif;
      font-size: 19px;
      font-weight: 400;
   }
   .gelica-50-regular {
      font-family: "gelica", sans-serif;
      font-size: 40px;
      font-weight: 400;
   }
   .gelica-40-regular {
      font-family: "gelica", sans-serif;
      font-size: 37px;
      font-weight: 400;
   }
   .catamaran-24-bold {
      font-family: "catamaran", sans-serif;
      font-size: 18px;
      font-weight: 700;
   }
   .catamaran-25-semibold {
      font-family: "catamaran", sans-serif;
      font-size: 20px;
      font-weight: 600;
   }
   .catamaran-22-medium {
      font-family: "catamaran", sans-serif;
      font-size: 19px;
      font-weight: 500;
   }
   .catamaran-26-medium {
      font-family: "catamaran", sans-serif;
      font-size: 20px;
      font-weight: 500;
   }
}
/*Colors*/
.custom-blue {
   color: var(--bs-primary) !important;
}
.custom-orange {
   color: var(--bs-secondary) !important;
}
.custom-white {
   color: var(--bs-tertiary) !important;
}
.custom-violet {
   color: var(--bs-quaternary) !important;
}
.custom-lightblue {
   color: var(--bs-success) !important;
}
.custom-azure {
   color: var(--bs-info) !important;
}

/**************************************************/
body {
   background-color: rgb(244, 145, 145);
   font-family: "catamaran", sans-serif;
}
.container {
   max-width: 1920px !important;
   padding-left: 0 !important;
   padding-right: 0 !important;
}
a:hover {
   color: var(--bs-primary) !important;
}
/**************************************************/
/*Header*/
header {
   padding-left: 7vw !important;
   padding-right: 7vw !important;
}
@media (min-width: 992px) {
   header {
      position: fixed !important;
      top: 0 !important;
      left: 0 !important;
      width: 100vw !important;
      height: 12vw !important;
      z-index: 2 !important;
   }
   header:has(.collapsing) {
      height: 18vw !important;
   }
   header:has(.collapse.show) {
      height: 18vw !important;
   }
}
/*Navbar-Searchbar-Menu*/
.nav-link-text,
.navbar-toggler {
   color: var(--bs-primary) !important;
}

.nav-link {
   padding: 4px !important;
   color: var(--bs-primary) !important;
}
@media (max-width: 991px) {
   .nav-link {
      font-size: 28px !important;
      font-weight: 500 !important;
   }
   ul.navbar-nav {
      gap: 8px !important;
      margin-top: 28px !important;
      margin-bottom: 28px !important;
      padding-left: 30vw;
      padding-right: 30vw;
   }
   #mainnavigation > nav {
      padding-top: 10px !important;
      padding-bottom: 0 !important;
   }
   .custom-icon-menu {
      width: 40px;
      height: 55px;
   }
   #mainnavigation > nav > div {
      padding-left: 0 !important;
      padding-right: 50px !important;
   }
   header {
      padding-bottom: 40px !important;
   }
   #c44 > div > div > div > div > div > div > figure > picture > img {
      padding-bottom: 5px;
   }
   #mainnavigation.collapsing {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
   #mainnavigation.show {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
}
@media (max-width: 767px) {
   #c45 {
      width: 50% !important;
   }
   ul.navbar-nav {
      margin-top: 18px !important;
      padding-left: 20vw;
      padding-right: 20vw;
   }
}

#mainnavigation > nav > div > button {
   background-color: transparent;
   border: none;
}

.custom-icon-menu {
   transition: transform 0.5s ease;
   width: 34px;
   height: 34px;
}

.custom-icon-menu:hover {
   transform: scale(0.8);
}
#tx-indexedsearch-searchbox-sword {
   order: 1;
}
#tx-indexedsearch-searchbox-button-submit {
   order: 2;
}
#navbarToggleExternalContent {
   width: 100%;
}
header.navbar-mainnavigation {
   flex-wrap: wrap;
}
@media (min-width: 992px) {
   .navbar-mainnavigation .navbar-nav {
      flex-direction: row;
      justify-content: end;
   }
}
@media (max-width: 991px) {
   #mainnavigation > button {
      display: none;
   }
   .custom-icon-menu {
      height: 25px;
   }
   nav.navbar,
   div.custom-icon-menu {
      display: inline-block;
   }
   #tx-indexedsearch-searchbox-sword {
      order: 2;
   }
   #tx-indexedsearch-searchbox-button-submit {
      order: 1;
   }
}
header .frame {
   padding-top: 0;
   padding-bottom: 0;
}
/*Header-Text-Underline-Hover*/
.navbar-mainnavigation .nav-link:not(.nav-link-toggle):hover:before,
.navbar-mainnavigation .nav-link:not(.nav-link-toggle):focus-visible:before {
   opacity: 1 !important;
}
.navbar-mainnavigation .nav-link.nav-link-main:before {
   background: var(--bs-primary) !important;
}
/*SearchForm*/
#navbarToggleExternalContent {
   margin-top: 30px;
}
#tx-indexedsearch-searchbox-button-submit,
#tx-indexedsearch-searchbox-sword {
   border-radius: 0;
}
/*SuchErgebnisse-Unterseite*/
#c2 label,
#c2 p {
   color: var(--bs-primary) !important;
}
/*Mega Menu - Dropdownmenu*/
@media (min-width: 992px) {
   .navbar-mainnavigation .nav-style-simple .dropdown-menu {
      width: 100% !important;
      height: 300px;
      padding-left: 10vw;
      padding-right: 50vw;
      padding-top: 50px;
   }
   .navbar-mainnavigation .dropdown-menu {
      position: fixed !important;
   }
   .dropdown-menu[data-bs-popper] {
      top: 12vw;
      left: 0%;
      margin: 0 !important;
      border: none !important;
      outline: none !important;
      border-radius: 0 !important;
      z-index: 2 !important;
   }
   #mainnavigation ul.dropdown-nav {
      grid-column-gap: 5vw !important;
      grid-template-columns: 1fr 1fr !important;
   }
}

/***********************************************************************/
/*MAIN*/
main {
   padding-top: 12vw !important;
}
/*Carousel-HomePage*/
.carousel-item-type-image .carousel-image img {
   margin: 0 0 auto auto !important;
   width: 100% !important;
}
.carousel .carousel-content-inner {
   align-items: start !important;
}
#c40 {
   padding-top: 0 !important;
}
.carousel .item {
   height: auto !important ;
}

/*Hero Section*/
#page-content > div:nth-child(3) {
   padding-left: 7%;
}
/***********************************************************************/
/*FOOTER*/
/*footer-raw-top*/
footer,
.footer-section-content {
   background-color: var(--bs-info);
}
#c56 > div > div > div > div > ul {
   list-style-type: none;
   margin: 0 !important;
   padding: 0 !important;
}
#c56 > div > div > div > div > ul li {
   padding-left: 1.5em;
   margin-bottom: 0.5em;
   position: relative;
}
#c56 > div > div > div > div > ul li::before {
   content: "";
   position: absolute;
   left: 0;
   top: 6px;
   width: 1em;
   height: 1em;
   background-repeat: no-repeat;
   background-image: url("../../user_upload/icons/Gruppe_538b.svg");
}
/*#c56 > div > div > div > div > ul li a */
footer a {
   text-decoration: none !important;
}
/*#c56 > div > div > div > div > ul li:hover a */
footer a:hover {
   text-decoration: underline 2px !important;
   text-underline-offset: 4px;
}
.frame a:not([class]) {
   color: var(--bs-primary) !important;
}
#c52 > div > div > div > div > div > div > figure > a > picture > img {
   width: 270px;
   margin: 0 !important;
}
#c65 > div > div > div > div > div > div > figure > a > picture > img {
   width: 45px;
   margin: 0 !important;
}
#c55,
#c57 {
   padding-top: 70px !important;
}
#c66 {
   vertical-align: top;
   margin: 0 !important;
   display: inline-block;
   padding: 7px 0 0 25px !important;
   display: inline-block;
}
#c65 {
   vertical-align: top;
   margin: 0 !important;
   display: inline-block;
   padding: 0 !important;
}
/*footer-raw-bottom*/
#page-footer > section > div:nth-child(2) {
   border-top: dotted 1px var(--bs-primary);
   padding-left: 7vw !important;
   padding-right: 7vw !important;
}
#page-footer > section > div:nth-child(1) {
   padding: 50px 27vw 50px 7vw !important;
}
#page-footer > section > div:nth-child(2) > div > div.section-column.footer-section-content-column.footer-section-content-column-left {
   column-gap: 30px;
   justify-content: start;
   display: flex;
   align-items: center;
}
#c59,
#c16 {
   margin: 0 !important;
   padding: 0 !important;
}
