/*FOOTER*/
/*footer-raw-top*/
footer,
.footer-section-content {
   background-color: var(--bs-info);
}
footer{
   padding-top: 4vw !important;
}
#c56 > div > div > div > div > ul {
   list-style-type: none;
   margin: 0 !important;
   padding: 0 !important;
}
#c56 > div > div > div > div > ul li {
   padding-left: 1.5em;
   margin-bottom: 0.5em;
   position: relative;
}
#c56 > div > div > div > div > ul li::before {
   content: "";
   position: absolute;
   left: 0;
   top: 6px;
   width: 1em;
   height: 1em;
   background-repeat: no-repeat;
   background-image: url("../../user_upload/icons/Gruppe_538b.svg");
}
/*#c56 > div > div > div > div > ul li a */
footer a {
   text-decoration: none !important;
}
/*#c56 > div > div > div > div > ul li:hover a */
footer a:hover {
   text-decoration: underline 2px !important;
   text-underline-offset: 4px;
}
#c52 > div > div > div > div > div > div > figure > a > picture > img {
   width: 270px;
   margin: 0 !important;
}
#c65 > div > div > div > div > div > div > figure > a > picture > img {
   width: 34px;
   margin: 0 !important;
}
#c55,
#c57 {
   padding-top: 70px !important;
}
#c66 {
   vertical-align: top;
   margin: 0 !important;
   display: inline-block;
   padding: 7px 0 0 15px !important;
   display: inline-block;
}
#c65 {
   vertical-align: top;
   margin: 0 !important;
   display: inline-block;
   padding: 0 !important;
}
/*footer-raw-bottom*/
#page-footer > section > div:nth-child(2) {
   padding-left: 7vw !important;
   padding-right: 7vw !important;
   background-image: radial-gradient(circle, #003087 1px, rgba(255, 255, 255, 0) 1.6px);
   background-position: top;
   background-size: 10px 2px;
   background-repeat: repeat-x;
}
#page-footer > section > div:nth-child(1) {
   padding: 50px 27vw 50px 7vw !important;
}
#page-footer > section > div:nth-child(2) > div > div.section-column.footer-section-content-column.footer-section-content-column-left {
   column-gap: 30px;
   justify-content: start;
   display: flex;
   align-items: center;
}
#c59,
#c16 {
   margin: 0 !important;
   padding: 0 !important;
}
@media screen and (max-width: 1380px) {
   #page-footer > section > div:nth-child(1) {
      padding: 50px 17vw 50px 7vw !important;
   }
   #c66 {
      vertical-align: middle !important;
      width: 80%;
      padding: 0 0 0 25px !important;
   }
}
@media screen and (max-width: 1120px) {
   #page-footer > section > div:nth-child(1) {
      padding: 50px 7vw 50px 7vw !important;
   }
}
@media screen and (max-width: 767px) {
   #page-footer > section > div:nth-child(2) > div {
      padding-top: 35px;
   }
   #c17 > div > div > div > div > h5 {
      text-align: left !important;
   }
   #c55,
   #c57 {
      padding-top: 35px !important;
   }
   #c52 {
      padding-top: 0px !important;
   }
}

/*footer hover and focus effect*/
footer li a,
footer h5 a,
#c65 + #c66 a {
   position: relative;
   overflow: hidden;
   display: inline-block;
}
footer li {
   height: 40px;
}

footer a:hover {
   text-decoration: none !important;
}
footer li a::after,
footer h5 a::after,
#c65 + #c66 a::after {
   background-image: radial-gradient(circle, #003087 1px, rgba(255, 255, 255, 0) 1.6px);
   background-position: bottom;
   background-size: 10px 2px;
   background-repeat: repeat-x;
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   transform: translateX(-101%);
   transition: all 0.3s ease-in-out;
}
footer li:hover a::after,
footer h5:hover a::after,
#c65:hover + #c66 a::after {
   transform: translateX(0%);
}
/*why before now? there was a dubble after element on the same a element(InstaIcon)*/
footer #c66 h5 a {
   position: relative;
   overflow: hidden;
   display: inline-block;
}
footer #c66 h5 a::before {
   background-image: radial-gradient(circle, #003087 1px, rgba(255, 255, 255, 0) 1.6px);
   background-position: bottom;
   background-size: 10px 2px;
   background-repeat: repeat-x;
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   transform: translateX(-101%);
   transition: all 0.3s ease-in-out;
}
footer #c66 h5:hover a::before {
   transform: translateX(0%);
}
/*BackToTop button*/
a.scroll-top.scroll-top-visible {
   color: var(--bs-primary);
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
   -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
   background-color: white;
   width: 65px;
   height: 65px;
   border-radius: 10px;
   transition: all 0.4s ease-in-out;
}
a.scroll-top.scroll-top-visible span::before {
   height: 40%;
   width: 40%;
   border-top: 5px solid;
   border-left: 5px solid;
   border-radius: 4px;
   border-color: var(--bs-primary);
   transition: all 0.4s ease-in-out;
}
a.scroll-top.scroll-top-visible:hover span::before {
   border-color: white !important;
}
a.scroll-top.scroll-top-visible:hover {
   background-color: var(--bs-primary);
}
