/*MAIN*/
@media (min-width: 992px) {
   main {
      padding-top: 12vw !important;
   }
   /*Hero Section*/
   /*****Carousel-HomePage*/
   .carousel-item-type-image .carousel-image img {
      margin: 0 0 auto auto !important;
      width: 100% !important;
   }
   .carousel .carousel-content-inner {
      align-items: start !important;
   }
   #c40 {
      padding-top: 0 !important;
   }
   .carousel .item {
      height: auto !important ;
   }
   #page-content > div:nth-child(1) > div > div > div:nth-child(2) {
      width: 50% !important;
      padding-left: 2vw !important;
   }
   /*****Left Section*/
   #page-content > div:nth-child(1) {
      padding-left: 7vw !important;
   }
   #page-content > div:nth-child(1) > div > div {
      gap: 0 !important;
   }
   #page-content > div:nth-child(1) > div > div > div:nth-child(1) {
      width: 40% !important;
      display: flex !important;
      flex-direction: column;
      align-items: start;
      justify-content: end;
      padding-bottom: 50px !important;
   }
   /*Sticky Section*/
   #c67 > div > div > div{    /*BildWrapper*/
      max-width: 1920px;
      padding: 0 !important;
      }
      #c67{    /*SectionWithBildFixed*/
          min-height: 100vh !important;
          z-index: -1;
          width: 100vw;
          max-width: 100vw !important;
          left: 0;
          top: 0;
          position: fixed;
      }
      
      #page-content > div.section.section-light{    /*StickySection*/
      min-height: 100vh;
          position: relative;
          z-index: -1;
      }
      #page-content > div:nth-child(1){    /*HeroSection*/
          position: relative;
          z-index: 1;
          background-color: var(--bs-default);
          min-height: 100vh;
      }
   /*3-Column-Section*/
   #page-content > div:nth-child(3) .section-row {
      width: 100vw;
      background-color: blueviolet;      
      /*clip-path: path("M2372.17,361.156c-19.252,0-38.151-.163-56.173-.486-108.914-1.948-216-6.076-319.568-10.069h-.036l-.123,0-.491-.021h-.033l-.259-.009h-.029c-68.485-2.64-139.3-5.37-209.037-7.381-37.617-1.084-71.871-1.879-104.72-2.43-36.983-.618-71.362-.918-105.1-.918-82.168,0-157.71,1.812-230.943,5.54-53.545,2.727-112.481,4.6-180.177,5.735-60.353,1.006-121.81,1.338-181.244,1.66h-.124l-.087,0h-.066l-.612,0-.312,0-.31,0h-.076c-53.82.294-109.473.6-164.211,1.4-21.289.313-41.959.7-61.435,1.146V6.291c21.557-1.146,40.4-2.064,57.611-2.806C860.387,1.51,900.035.551,935.822.551c14.717,0,29.146.163,42.889.486,83.2,1.949,164.956,6.078,244.017,10.071l.1,0,.376.02h.024l.2.01c52.262,2.639,106.3,5.368,159.623,7.382,28.772,1.085,54.925,1.88,79.956,2.429,28.22.618,54.469.919,80.246.919,62.743,0,120.42-1.812,176.327-5.54,40.9-2.728,85.9-4.6,137.568-5.734,46.083-1.006,92.983-1.338,138.34-1.659h.138l.067,0h.051l.466,0,.239,0,.237,0h.116c41.073-.293,83.543-.6,125.318-1.4,47.242-.91,88.526-2.377,126.213-4.484C2284.9.994,2323.365,0,2365.914,0c65.89,0,132.524,2.423,196.964,4.765h.08l.171.006h.028l.075,0,.237.009C2600.49,6.131,2638.773,7.522,2677,8.445V352.424c-47.31,2.057-97.558,4.2-146.077,5.8C2470.96,360.2,2419.032,361.156,2372.17,361.156Z");*/
     /* clip-path: polygon(0 11%, 12% 10%, 23% 10%, 35% 12%, 45% 15%, 59% 16%, 71% 15%, 81% 13%, 100% 11%, 100% 100%, 0 100%);*/
      /*clip-path: url(#wave);*/
      /*clip-path: path(
         "M0,256L60,229.3C120,203,240,149,360,144C480,139,600,181,720,181.3C840,181,960,139,1080,133.3C1200,128,1320,160,1380,176L1440,192L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
      );*/
      /*clip-path: path(
         "M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      );*/
   }
   #page-content > div:nth-child(3) .section-column.section-column-third {
      background-color: aqua;
      padding-top: 150px;
   }
}
