/*MAIN*/
/*0 - <main>*/
@media (min-width: 768px) {
   main {
      padding-top: 0vw !important;
   }
}
@media (min-width: 1150px) {
   main {
      padding-top: 12vw !important;
   }
}

/*****************************************/
/*1-Hero Section*/
@media (min-width: 768px) {
   #p1 #page-content > div:nth-child(1) {
      position: relative;
      z-index: 1;
      min-height: 100vh;
   }
   #c90 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;
   }
   #c90 img {
      width: 100vw !important;
      max-width: 100vw !important;
   }
   #c90 > div > div > div {
      margin: 0 !important;
   }

   /*1-HeroS. - Carousel-HomePage*/
   #p1 .custom-hero-section .carousel-item-layout-secondary {
      background: none !important;
   }
   #p1 .custom-hero-section .carousel-item-type-image .carousel-image img {
      margin: 0 0 auto auto !important;
      width: 100% !important;
   }
   #p1 .custom-hero-section .carousel .carousel-content-inner {
      align-items: start !important;
   }
   #c89 {
      padding-top: 0 !important;
   }
   #p1 .carousel .item {
      height: auto !important ;
   }
   #p1 #page-content > div:nth-child(1) > div > div > div:nth-child(2) {
      width: 50% !important;
   }
   /*1-HeroS. - Left Section*/
   #p1 #page-content > div:nth-child(1) {
      padding-left: 7vw !important;
   }
   #p1 #page-content > div:nth-child(1) > div > div {
      gap: 0 !important;
   }
   #p1 #page-content > div:nth-child(1) > div > div > div:nth-child(1) {
      width: 50% !important;
      display: flex !important;
      flex-direction: column;
      align-items: start;
      justify-content: end;
      padding-bottom: 50px !important;
   }
}
@media (min-width: 768px) and (max-width: 900px) {
   /*Ipad-Hoch Ansicht - Hero Section*/
   #p1 #page-content > div:nth-child(1) {
      padding-left: 0 !important;
      min-height: 90vh !important;
      border: solid yellow 3px;
   }
   #p1 #page-content > div.section.section-default.custom-hero-section > div {
      position: relative;
      border: solid green 13px;
      background-color: var(--bs-default);
   }
   #c90 {
      top: 80% !important;
   }
   #c89 {
      width: 60%;
      z-index: 100;
      right: 0;
      top: 0;
      position: absolute;
      padding-top: 0 !important;
      padding-right: 0 !important;
   }
   #c89 > div > div > div {
      margin-right: 0 !important;
   }
   #p1 .custom-hero-section #carousel-89 > div > div > div > div {
      margin-right: 0 !important;
   }
   #p1 #page-content > div:nth-child(1) > div > div > div:nth-child(1) {
      padding-left: 7vw !important;
      padding-right: 7vw !important;
      padding-top: 15vh;
      width: 100% !important;
   }
   #c28 {
      padding-right: 50%;
      padding-bottom: 65px;
   }
   #c28 > div > div > div > div > h1 > span > span {
      font-size: 40px !important;
      line-height: 1.5 !important;
   }
   #c32 {
      width: 40%;
      padding-bottom: 75px;
   }
   #c38 > div > div > div > div > h4 > span > span {
      font-size: 26px !important;
      line-height: 1.5 !important;
   }
}
@media (min-width: 1150px) {
   #p1 #page-content > div:nth-child(1) > div > div > div:nth-child(1) {
      /***herosection-leftcolumn*/
      width: 45% !important;
   }
}
@media (min-width: 1240px) {
   #p1 #page-content > div:nth-child(1) > div > div > div:nth-child(1) {
      /***herosection-leftcolumn*/
      width: 40% !important;
   }
}

/*****************************************/
/*2-Sticky Section*/
@media (min-width: 768px) {
   #p1 #page-content > div.section.section-light {
      min-height: 50vh;
      position: relative;
      z-index: -1;
   }
   #c21 > div > div > div {
      /*2-StickyS.-Text Wrapper*/
      padding-top: 155px;
      padding-left: 7vw;
      margin: 0;
   }
   #c21 > div > div > div h2 {
      text-shadow: -2px 3px 6px rgba(0, 0, 0, 0.6);
   }
   #c21 > div > div > div > div > h2:nth-child(1) > span::after {
      /*2-StickyS.-h2span1-after*/
    content: url(../../../fileadmin/user_upload/images/anfuerungszeichen-oben2.png);
    width: 70px;   
    height: 60px;    
    position: absolute;
    top: -20px;
    right: -53px;
    overflow: hidden;
    transform: scale(0.65);
   }
   #c21 > div > div > div > div > h2:nth-child(3) > span::before {
      /*2-StickyS.-h2span3-after*/
      content: url('../../user_upload/images/anfuerungszeichen-unten2.png');
      width: 70px;   
      height: 60px;    
      position: absolute;
      bottom: -20px;
      left: -58px;
      overflow: hidden;
      transform: scale(0.65);
   }
   #c21 > div > div > div > div > h2:nth-child(1) > span,
   #c21 > div > div > div > div > h2:nth-child(3) > span {
      position: relative;
   }
   #c67 > div > div > div {
      /*2-StickyS.-BildWrapper*/
      max-width: 1920px;
      padding: 0 !important;
   }
   #c67 > div > div > div img {
      height: 100dvh;
      width: auto;
      max-width: none;
   }
   #c67 {
      /*2-StickyS.-SectionWithBildFixed*/
      min-height: 100vh !important;
      z-index: -1;
      width: 100vw;
      max-width: 100vw !important;
      left: 0;
      top: 0;
      position: fixed;
   }
}
@media (min-width: 1150px) {
   #c67 > div > div > div img {
      /*StickySection*/
      min-height: 100dvh;
      min-width: 100%;
      max-width: none;
   }
      #c21 > div > div > div > div > h2:nth-child(1) > span::after {
      /*2-StickyS.-h2span1-after*/   
    transform: scale(0.8);
    right: -60px;
   }
   #c21 > div > div > div > div > h2:nth-child(3) > span::before {
      /*2-StickyS.-h2span3-after*/  
    transform: scale(0.8);
     left: -70px;
   }
}

/*****************************************/
/*3-ThreeColumns-Section*/
@media (min-width: 768px) {
   #p1 .custom-3columns-section .section-row {
      width: 100vw;
      background-color: blueviolet;
      min-height: 500px;
      gap: 0 !important;
      display: flex;
      flex-direction: column;
   }
   #p1 .custom-3columns-section .section-column.section-column-third {
      width: 100% !important;
      padding: 50px 7vw;
      min-height: 30vh !important;
   }
   #p1 .custom-3columns-section .section-column.section-column-third h5 {
      line-height: 1.6;
   }
   #p1 .custom-3columns-section .section-row > div:nth-child(1) {
      background-color: var(--bs-secondary);
   }
   #p1 .custom-3columns-section .section-row > div:nth-child(2) {
      background-color: var(--bs-success);
   }
   #p1 .custom-3columns-section .section-row > div:nth-child(3) {
      background-color: var(--bs-quaternary);
   }
}
@media (min-width: 1240px) {
   /*3-Column-Section*/
   #p1 .custom-3columns-section .section-row {
      flex-direction: row;
   }
   #p1 .custom-3columns-section .section-column.section-column-third {
      width: 33.33% !important;
      padding: 50px 5.5vw;
      min-height: none !important;
   }
}

/*****************************************/
/*4-Aktuelle Nachrichten*/
@media (min-width: 768px) {
   #p1 .custom-news-section .list-group-item h3 a {
      text-decoration: none !important;
   }
   #p1 .custom-news-section .news-list-view li.list-group-item,
   #p1 .custom-news-section .news-list-view .row.news-list-item.mb-3,
   #p1 .custom-news-section .news-list-view .col-md-3,
   #p1 .custom-news-section .news-list-view .col-md-9.articletype-0 {
      margin: 0 !important;
      padding: 0 !important;
   }
   #p1 .custom-news-section .news-list-view .col-md-3 img {
      width: 80%;
      object-fit: cover;
      object-position: left top;
      display: block;
      max-width: none;
      object-fit: cover;
      max-height: none;
      min-height: 100% !important;
   }
   #c51 {
      padding: 145px 0%;
      background-color: transparent;
      margin-top: -30px !important;
   }
   #c51 h2 {
      padding-bottom: 25px !important;
   }
   .news-list-view .col-md-3 {
      width: 35% !important;
   }
   #p1 .custom-news-section .news-list-view .col-md-9.articletype-0 {
      width: 65% !important;
      padding: 5% !important;
   }
   #p1 .custom-news-section .news-list-view ul.list-group.mb-3 {
      gap: 25px !important;
   }
   #p1 .custom-news-section .news-list-view ul.list-group.mb-3 li,
   #p1 .custom-news-section .news-list-view .col-md-3 img {
      border-radius: 20px 0 0 20px;
   }
   /*4-background*/
    #c51 {
      position: relative;
      z-index: 1;
      min-height: 100vh;
   }
   #c109 {
      position: static;
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;
   }
   #c109 img {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      width: auto !important;
      max-width: none !important;
      min-width: 100% !important;
      height: auto !important;
      max-height: none !important;
      min-height: calc(100% + 100px) !important;
   }
   #p1 #c109 > div > div > div{
      padding: 0 !important;
      margin: 0 !important;
      position: static !important;
   }
      #p1 .custom-news-section {
      position: relative;
      z-index: 2;
   }   
}
@media (min-width: 1240px) {
   #c51 {
      /*4-Aktuelle Nachrichten*/
      margin-top: -150px !important;
      padding: 145px 10%;
   }
}
@media (min-width: 1500px) {
   #c51 {
      /*4-Aktuelle Nachrichten*/
      padding: 145px 20%;
   }
}

/*****************************************/
/*5-Arbeiten*/
@media (min-width: 768px) {
   #p1 .custom-arbeiten-section {
      background-color: #ffeee2;
      padding: 13vw 7vw 100px !important;
   }
   #p1 .custom-arbeiten-section > div > div > div:nth-child(1) {
      width: 100% !important;
   }
   #p1 .custom-arbeiten-section > div > div > div:nth-child(2) {
      width: 100% !important;
   }
   #p1 .custom-arbeiten-section .section-row {
      gap: 0 !important;
      flex-direction: column;
   }
   /*5-Arbeiten-Carousel*/
   #carousel-22 > div > div {
      position: relative;
      background-color: transparent !important;
   }
   #carousel-22 > div > div .carousel-text {
      position: absolute;
      color: var(--bs-primary);
      top: 20%;
      left: 9%;
      padding-right: 61%;
      color: var(--bs-primary);
   }
     #carousel-22 > div > div .carousel-text h4{
      text-align: start !important;
      line-height: 1.5 !important;
     }
   #carousel-22 > div > div .carousel-image img {
      min-height: 400px !important;
      max-width: none !important;
      width: auto !important;
      margin-left: 17vw !important;
   }
   .custom-carousel-button {
      height: 100px;
      width: 30px;
      background-color: transparent;
      border: none;
   }
   #carousel-22 .carousel-control {
      width: 100px;
   }
   #carousel-22 .carousel-indicators {
      display: none !important;
   }
   #carousel-22 .carousel-control-prev-icon{
      background-image: url(../../user_upload/icons/carousel22-nav-left.svg);
   }
    #carousel-22 .carousel-control-next-icon{
      background-image: url(../../user_upload/icons/carousel22-nav-right.svg);
   }  
   /*5-Arbeiten-RightColumn*/
   .custom-arbeiten-section > div > div > div:nth-child(2) {
      padding-left: 0vw !important;
      display: flex !important;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 15px;
   }
   .custom-arbeiten-section > div > div > div:nth-child(2) #c93 {
      padding-right: 10vw !important;
   }
   .custom-arbeiten-section #c94 {
      padding: 20px 45px;
      border-radius: 100px;
   }
   .custom-arbeiten-section #c94 .texticon-icon {
      margin-left: 155px !important;
      color: white !important;
   }
   /*5-Arbeiten-custom-button-1*/
   .custom-a-button {
      text-decoration: none;
   }
   .custom-button-1 {
      align-items: center;
      background-color: var(--bs-secondary);
      border: none;
      border-radius: 100px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      max-width: 650px;
      min-height: 70px;
      padding: 20px 45px;
   }
   .custom-button-1 h4 {
      margin-bottom: 0 !important;
   }
   .custom-button-1-icon {
      height: 45px;
      fill: white;
      margin-left: 145px;
      transition: all 0.5s ease-out;
   }
   .custom-button-1-span {
      margin-bottom: 0 !important;
      text-decoration: none;
      color: white;
   }
   .custom-button-1:hover .custom-button-1-icon {
      transform: translateX(15px);
   }
}
@media (min-width: 1150px) {
    #carousel-22 > div > div .carousel-image img {    
      margin-left: 20vw !important;
   }
}
@media (min-width: 1300px) {
   #p1 .custom-arbeiten-section .section-row {
      flex-direction: row;
   }
   #p1 .custom-arbeiten-section > div > div > div:nth-child(1) {
      width: 48% !important;
   }
   #p1 .custom-arbeiten-section > div > div > div:nth-child(2) {
      width: 52% !important;
      padding-left: 2vw !important;
   }
    #carousel-22 > div > div .carousel-image img {
      min-height: 390px !important;
      height: 390px !important;
      margin-left: 7vw !important;
   }
}
@media (min-width: 1500px) {
   #carousel-22 > div > div .carousel-image img {
      min-height: 470px !important;
      height: 470px !important;      
   }
}
@media (min-width: 1670px) {
   #carousel-22 > div > div .carousel-image img {
      min-height: 490px !important;
      height: 490px !important;
   }
}
/*****************************************/
/*6-InstaFeef*/
@media (min-width: 768px) {
   .custom-instafeed-section {
      background-color: transparent;
      padding: 7vw !important;
   }
   .custom-instafeed-section .section-row {
      gap: 5% !important;
      flex-direction: column;
   }
   .custom-instafeed-section > div > div > div:nth-child(1) {
      width: 100% !important;
   }
   .custom-instafeed-section > div > div > div:nth-child(2) {
      width: 100% !important;
      border: white 2px dotted;
      margin-top: 100px !important;
   }
   /*6-InstaFeed-LinksColumn */
   #c100,
   #c101 {
      padding: 0 !important;
      margin: 0 !important;
   }
   #c100 > div > div > div > div > h4 > span > span {
      line-height: 2 !important;
   }
   #c99 {
      padding-top: 0 !important;
   }

   #c101 > div > div > div > div > div > div.texticon-content > h4 > a {
      color: white !important;
      text-underline-offset: 3px;
      text-decoration-thickness: 1px;
   }
   #c101 > div > div > div > div > div > div.texticon-icon.texticon-size-default.texticon-type-default {
      padding-left: 0 !important;
      margin-left: 5px !important;
   }
   #c101 > div > div > div > div > div > div.texticon-icon.texticon-size-default.texticon-type-default svg {
      fill: white;
      width: 16px;
   }
   #c101 .texticon {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
   }
   /*6-InstaFeed-BACKGROUND*/



 #p1 .custom-instafeed-section {
      position: relative;
      z-index: 2;          
      margin-bottom: 100px !important;
   }
   #c110 {
      position: static;      
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;
   }
   #c110 img {
      position: absolute !important;
      top: -50px !important;
      left: 0 !important;
      width: auto !important;
      max-width: none !important;
      min-width: 100% !important;
      height: auto !important;
      max-height: none !important;
      min-height: calc(100% + 100px) !important;
      z-index: -2;
   }
   #p1 #c110 > div > div > div{
      padding: 0 !important;
      margin: 0 !important;
      position: static !important;
   }
    



}
@media (min-width: 1200px) {
   .custom-instafeed-section .section-row {
      flex-direction: row;
   }
   .custom-instafeed-section > div > div > div:nth-child(1) {
      width: 30% !important;
   }
   .custom-instafeed-section > div > div > div:nth-child(2) {
      width: 65% !important;
      margin-top: 0px !important;
   }
}


