@media (min-width: 768px) {
   .backendlayout-3_columns .subcontent-wrap {
      order: 3;
      --section-gaps: 2;
      --section-colspan: 3;
   }
}

/*****************************************/
/*0-Header */
@media (min-width: 768px) {
   .backendlayout-3_columns header {
      z-index: 5;
      position: relative;
   }
}

/*****************************************/
/*1-Hero Section*/
@media (min-width: 768px) {
   .custom-3columns-hero-section {
      z-index: 1;
      position: relative;
   }
   .custom-3columns-hero-section .section-row {
      flex-direction: column;
   }
   /*1- Bild - first row */
   .custom-3columns-hero-section .section-row > div:nth-child(1) > div > div > div > div,
   .custom-3columns-hero-section .section-row > div:nth-child(1),
   .custom-3columns-hero-section .section-row > div:nth-child(1) > div {
      max-width: 100%;
      padding: 0;
      margin: 0;
      width: 100%;
   }
   /*1-second row */
   .custom-3columns-hero-section .section-row > div:nth-child(2) {
      position: relative;
      z-index: 2;
      min-height: 300px;
      width: 100%;
      background-color: transparent;
      margin-top: -15px !important;
      align-items: center;
      display: flex;
      padding-left: 17vw !important;
   }
   .custom-3columns-hero-section .section-row > div:nth-child(2)::before {
      position: absolute;
      content: "";
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../user_upload/images/Ueber-Uns/wave-blue-header.png");
      background-repeat: no-repeat;
      background-size: cover;
      overflow: visible;
      z-index: 1;
      background-color: transparent;
   }
   .custom-3columns-hero-section .section-row > div:nth-child(2) > div {
      z-index: 2;
      color: white !important;
   }
}

/*****************************************/
/*2-Haupt-section */
@media (min-width: 768px) {
   .custom-3columns-haupt-section {
      margin-top: -25px;
      z-index: 0;
      position: relative;
   }
   .custom-3columns-haupt-section .section-row {
      gap: 0 !important;
      flex-wrap: nowrap;
   }
   /*2-HauptS-left column with dottsImage*/
   .custom-3columns-haupt-section .section-row > div:nth-child(2) {
      min-width: 7vw;
      width: 7vw;
      min-height: 100vh;
      left: 0;
      top: 0;
      position: fixed;
      z-index: 3;
   }

   .custom-3columns-haupt-section .section-row > div:nth-child(2) .gallery-row .gallery-item {
      width: auto !important;
      position: absolute;
      top: 30vh;
      padding-left: 2vh !important;
   }
   /*2-HauptS-middle column with main content */
   .custom-3columns-haupt-section .section-row > div:nth-child(1) {
      margin: 0;
      width: auto;
      min-width: auto;
      max-width: none;
      border: rgb(136, 255, 0) 13px solid;
   }
   /*2-HauptS-right column with sticky menu */
   .custom-3columns-haupt-section .section-row > div:nth-child(3) {
      position: fixed;
      z-index: 2;
      background-color: transparent;
      min-width: 24vw !important;
      min-height: 100vh;
      right: 0;
      top: 0;
   }
   .custom-3columns-haupt-section .section-row > div:nth-child(3)::before {
      position: absolute;
      content: "";
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../user_upload/images/Tagesgruppen/sidebar-orange.png");
      background-repeat: no-repeat;
      background-size: cover;
      overflow: visible;
      z-index: 0;
      background-color: transparent;
   }
   .custom-3columns-haupt-section .section-row > div:nth-child(3) .custom-menu-sidebar {
      z-index: 5;
      position: absolute;
      top: 30vh;
      padding-left: 8vw;
      min-width: inherit;
      right: 00px;
   }
   .custom-3columns-haupt-section .section-row > div:nth-child(3) .custom-menu-sidebar > div > div > div > div {
      margin: 0 !important;
   }
   .custom-3columns-haupt-section .section-row > div:nth-child(3) .custom-menu-sidebar .texticon-inner-icon svg {
      width: 15px !important;
      max-width: 30px !important;
      height: 16px !important;
   }
   .custom-3columns-haupt-section .section-row > div:nth-child(3) .custom-menu-sidebar .texticon-icon {
      padding: 0 !important;
   }
}

/*****************************************/
/*3-Arbeiten-section */
@media (min-width: 768px) {
   .backendlayout-3_columns .custom-arbeiten-section {
      padding: 5vw 7vw 70px !important;
      margin-bottom: -55px;
      margin-top: -55px;
      position: relative;
      z-index: 5;
   }
}

/*****************************************/
/*4-Footer */
@media (min-width: 768px) {
   .backendlayout-3_columns footer {
      z-index: 0;
      position: relative;
   }
}
